div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}
body,html
{
  background-image: url("https://media.istockphoto.com/photos/doctors-appointment-picture-id1254899249?b=1&k=20&m=1254899249&s=170667a&w=0&h=c3A0Arr9vqnZ_RiUuQmpKivssqVZ5im84fl_EkrKMD8=");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'El Messiri', sans-serif;
  color: black;
  text-shadow: 0.8px 0px rgb(255, 232, 181);
  font-weight: bold;
  text-align: center;
}