@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Specialty

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new specialty" />
}
<p>@Html.ActionLink("Show all specialties", "Index")</p> 